@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Senir Almeida</h1>
<h2>Id: 200550133</h2>

<h1>Leonardo de Camargo</h1>
<h2>Id: 200560038</h2>

<h1>Vandre Nobrega</h1>
<h2>Id: 200548730</h2>

<p>Please, contact us for any questions.</p>